doctype 5
html
  head
    title BASES | Contact Us
    include ../headerFilesOthers.jade

  body
    include ../navBarOthers.jade
    #cover
      #heroContactUs
      #heroText Thanks for contacting us!
    
    include ../footerFilesOthers.jade
